@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-0: #ffffff;
  --white-1: #F6F8FA;
  --foreground: #171717;
  --green-1: #1F4B43
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--white);
  font-family: 'Roboto', Helvetica, sans-serif;
}